<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <title>My Flask App</title>
  </head>
  <body>
    <div class="topnav">
     <a class="active" href=/>Home</a>
     <a href=/service1>Say Hello</a>
     <a href=/service2>Sum</a>
     <a href=/service3>List Hello</a>
    </div>
    <h1>Ejemplo web Services con RPC</h1>
    <div class="">
      <a href=/service1>
        <button type=" button" class="btn success block" name="button1"> Saludar </button>
      </a>
    </div>
    <div class="">
      <br>
    </div>
    <div class="">
      <a href=/service2>
        <button type="button" class="btn success block" name="button2"> Suma </button>
      </a>
    </div>
    <div class="">
      <br>
    </div>
    <div class="">
      <a href=/service3>
        <button type="button" class="btn success block" name="button2"> Suma </button>
      </a>
    </div>
    <div class="">
      <br>
    </div>
  </body>
</html>
